{% extends "layout.html" %}

{% block title %}
{% if url == "/admin/login" %}
<title>Admin - Sign in</title>
{% else %}
<title>Student - Sign in</title>
{% endif %}
{% endblock%}

{% block body %}
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form action="/admin/login" method="POST">
                                        {{ form.hidden_tag()}}
                                        <div class="form-group">
                                            {% if url == "/admin/login" %}
                                            <label class="small mb-1" for="inputID">Staff ID</label>
                                            {{ form.ID(class="form-control py-4", placeholder="Enter your Staff ID", maxlength=10)}}
                                            {% else %}
                                            <label class="small mb-1" for="inputID">Student ID</label>
                                            {{ form.ID(class="form-control py-4", placeholder="Enter your Student ID", maxlength=10)}}
                                            {% endif %}
                                            
                                        </div>
                                        <div class="form-group">
                                            <label class="small mb-1" for="inputPassword">Password</label>
                                            {{ form.password(class="form-control py-4", placeholder="Enter password")}}
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                {{ form.remember_me(class="custom-control-input", type='checkbox', id="rememberPasswordCheck")}}
                                                <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label></div>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" href="/admin/resetpassword">Forgot Password?</a>
                                            {{ form.submit(class="btn btn-primary")}}</div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="footer mt-auto footer-dark">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 small">Copyright &#xA9; Zysod Communications Limited 2020</div>
                        <div class="col-md-6 text-md-right small">
                            <a href="#!">Privacy Policy</a>
                            &#xB7;
                            <a href="#!">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
      </div>
      
       <!-- Custom JS library -->       
       <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>


{% endblock%}